@charset "utf-8";
html, body, ul, p {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    behavior: url(@{res/css/PIE.htc}@);
}

body {
	font-size:12px;
    min-width: 1190px;
    background: #ededed;
}

dl, dt, dd {
    margin: 0;
    padding: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
    color:#555;
}

a img {
    outline: none;
    border: none;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 0;
    margin: 0;
}

select {
    height: auto!important;
    line-height: normal!important;
    vertical-align: middle;
}

button, select, input {
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
}


#layout{
	width:1190px;
	margin:0 auto;
}

.clear{
	clear:both;
}
.ckearfix:after{
	visibility:hidden;
	display:block;
	font-size:0;
	content:"";
	clear:both;
	height:0;
}
.clearfix{
	display:inline-block;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.center{
	width:1190px;
	margin:0 auto;
}
/* font preset*/
.f12{font-size:12px!important;}
.f13{font-size:13px}
.f14{font-size:14px}
.f15{font-size:15px}
.f16{font-size:16px}
.f18{font-size:18px}
.f20{font-size:20px}
.f24{font-size:24px}
.f26{font-size:26px}
.f28{font-size:28px}
.f30{font-size:30px}
.f32{font-size:32px}
.fb{font-weight:bold;}
.fn{font-weight:normal;}
.t2{text-indent:2em;}
.thD{text-indent:-9999px}
.bdn{border:none !important;}
.fam{font-family:'�o��',Arial, Helvetica, sans-serif;}
.tdNo,.tdNo:hover{ text-decoration: none;}
/*typset preset*/
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
.bc{margin-left:auto;margin-right:auto;}
.clear{clear:both}
.fl{float:left;_display:inline;}
.fr{float:right;_display:inline;}
.clear{clear:both;}
.show{display:block;}
.hide{display:none;}
.clearfix:after{content:'.';display:block;height:0;clear:both;visibility:hidden;}
.clearfix {zoom: 1;}
/*.clearfix{display:inline-block;}*/
*html .clearfix{height:1%}
.vm{vertical-align: middle;}
.prL{position:relative;}
.paL{position:absolute;}
.pr{position:relative;}
.pa{position:absolute;}
.zoom{zoom:1}
.hidden{visibility:hidden;}
.none{display:none;}
.ovhidden,.oh{overflow:hidden;}
.txh{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
/*width preset*/
.w195{width:195px}
.w200{width:200px}
.w215{width:215px}
.w227{width:227px}
.w270{width:270px}
.w300{width:300px}
.w320{width:320px}
.w680{width:680px}
.w720{width:720px}
.w980{width:980px}
.w1200{width:1200px}
/*zindex prest*/
.zin1{z-index:1}
.zin2{z-index:2}
.zin3{z-index:3}
/*margin prest*/

.cent{position:absolute; top:0; bottom:0; left:0; right:0; margin:auto;}
.mAuto{margin:0 auto;}
.show{ display: block;}

.m0{margin:0 !important;}
.m5{margin:5px}
.m10{margin:10px}
.m15{margin:15px}
.m20{margin:20px}
.m25{margin:25px}
.m30{margin:30px}
.m35{margin:35px}
.m40{margin:40px}
.m50{margin:50px}

.mt5{ margin-top:5px;}
.mt8{ margin-top:8px;}
.mt10{ margin-top:10px;}
.mt15{ margin-top:15px;}
.mt20{ margin-top:20px;}
.mt25{ margin-top:25px;}
.mt30{ margin-top:30px;}
.mt35{ margin-top:35px;}
.mt40{ margin-top:40px;}
.mt50{ margin-top:50px;}
.mt55{ margin-top:55px;}
.mt100{ margin-top:100px;}

.ml0{ margin-left:0 !important;}
.ml5{ margin-left:5px;}
.ml10{ margin-left:10px;}
.ml15{ margin-left:15px;}
.ml20{ margin-left:20px;}
.ml25{ margin-left:25px;}
.ml30{ margin-left:30px;}
.ml35{ margin-left:35px;}
.ml40{ margin-left:40px;}
.ml50{ margin-left:50px;}

.mr0{ margin-right:0 !important;}
.mr5{ margin-right:5px;}
.mr10{ margin-right:10px;}
.mr15{ margin-right:15px;}
.mr20{ margin-right:20px;}
.mr25{ margin-right:25px;}
.mr30{ margin-right:30px;}
.mr35{ margin-right:35px;}
.mr40{ margin-right:40px;}
.mr50{ margin-right:50px;}

.mb0{ margin-bottom:0 !important;}
.mb5{ margin-bottom:5px;}
.mb10{ margin-bottom:10px;}
.mb15{ margin-bottom:15px;}
.mb20{ margin-bottom:20px;}
.mb25{ margin-bottom:25px;}
.mb30{ margin-bottom:30px;}
.mb35{ margin-bottom:35px;}
.mb40{ margin-bottom:40px;}
.mb50{ margin-bottom:50px;}
/*padding prest*/
.p5{padding:5px;}
.p10{padding:10px;}
.p15{padding:15px;}
.p20{padding:20px;}
.p25{padding:25px;}
.p30{padding:30px;}
.p35{padding:35px;}
.p40{padding:40px;}
.p50{padding:50px;}

.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt25{padding-top:25px;}
.pt30{padding-top:30px;}
.pt35{padding-top:35px;}
.pt40{padding-top:40px;}
.pt50{padding-top:50px;}

.pb5{padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb25{padding-bottom:25px;}
.pb30{padding-bottom:30px;}
.pb35{padding-bottom:35px;}
.pb40{padding-bottom:40px;}
.pb50{padding-bottom:50px;}

.pl0{padding-left:0 !important;}
.pl5{padding-left:5px;}
.pl10{padding-left:10px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl25{padding-left:25px;}
.pl30{padding-left:30px;}
.pl35{padding-left:35px;}
.pl40{padding-left:40px;}
.pl50{padding-left:50px;}

.pr0{padding-right:0 !important;}
.pr5{padding-right:5px;}
.pr10{padding-right:10px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pr25{padding-right:25px;}
.pr30{padding-right:30px;}
.pr35{padding-right:35px;}
.pr40{padding-right:40px;}
.pr50{padding-right:50px;}

.c_red { color: #e14041;}
.c_blue { color: #1e589c;}
.c_blue:hover { color: #e14041;}
.c333{ color: #333;}
.c666{ color: #666;}
.c999{ color: #999;}

.lh30 { line-height: 30px;}

.tdu{ text-decoration: underline;}
/* ---------------------------------------------------------------------------
 *      function
   --------------------------------------------------------------------------- */
.enableSelect {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

.ableSelect {
    user-select: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    -o-user-select: text;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.textCenter {
    text-align: center;
}

.textRight {
    text-align: right;
}

.fn{ font-weight: normal;}
.fb{ font-weight: bold;}


.f12 { font-size: 12px;}
.f14 { font-size: 14px;}
.f16 { font-size: 16px;}
.f20 { font-size: 20px;}
.f24 { font-size: 24px;}

.pr{ position: relative;}
.pa{ position: absolute;}
/* ---------------------------------------------------------------------------
 *      global
   --------------------------------------------------------------------------- */




/* preset margin */
.mt8 {
    margin-top: 8px;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mt25 {
    margin-top: 25px;
}

.mt30 {
    margin-top: 30px;
}

.mt35 {
    margin-top: 35px;
}

.mt40 {
    margin-top: 40px;
}

.ml10 {
    margin-left: 10px;
}

.ml15 {
    margin-left: 15px;
}

.ml20 {
    margin-left: 20px;
}

.ml25 {
    margin-left: 25px;
}

.ml30 {
    margin-left: 30px;
}

.ml35 {
    margin-left: 35px;
}

.ml40 {
    margin-left: 40px;
}

.mr15{
    margin-right: 15px;
}

/* preset color */
.colore14041 {
    color: #e14041;
}

.colore333 {
    color: #333;
}

.colore999 {
    color: #999;
}

.clear {
    clear: both;
}

.float_l, .fl {
    float: left;
}

.float_r, .fr {
    float: right;
}

.padding20_0 {
    padding: 20px 0;
}

button,
input {
    outline: none;
}

@font-face {
    font-family: fp-font;
}

.ico {
    font-family: fp-font !important;
    font-style: normal;
}

.backededed {
    background-color: #ededed;
    display: inline-block;
    width: 100%;
}

.but25 {
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fefefe, endColorstr=#f2f2f2); /*IE<9>*/
    background: -moz-linear-gradient(top, #fefefe, #f2f2f2); /*Mozilla*/
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#fefefe), to(#f2f2f2)); /*Old gradient for webkit*/
    background: -webkit-linear-gradient(top, #fefefe, #f2f2f2); /*new gradient for Webkit*/
    background: -o-linear-gradient(top, #fefefe, #f2f2f2); /*Opera11*/
    padding: 0 10px;
    line-height: 25px;
    background-color: #fff;
    border: 1px solid #ededed;
    color: #333;
    float: right;
    font-size: 12px;
    cursor: pointer;
   -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.but25:hover {
    color: #e14041;
    border-color: #e14041;
}

.bute14041 {
    background-color: #e14041;
    border-bottom: 1px solid #a42f30;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    transition: all 0.5s ease 0s;
    display: inline-block;
    padding: 0 20px;
}

.bute14041:hover {
    background-color: #fe7171;
}

.font18 {
    font-size: 18px;
}

.font24 {
    font-size: 24px;
}

.font26 {
    font-size: 26px;
}

.font32 {
    font-size: 32px;
}

/**************************************************************
						page begin
***************************************************************/
/* 					header 					*/
.header_ani{
	height:67px;
	width:100%;
	overflow:hidden;
	position:relative;	
}
.header_ani_ul{
	position:absolute;
	width:100%;
	height:67px;
	top:-70.5px;
	img{
		width:100%;
		height:67px;
	}
}

#header_nav{
	width:100%;
	height:138px;
	background:url(../images/header_nav_bg.jpg) repeat-x center;
}
.hnav_top{
	height:34px;
	width:100%;
}
.hnav_tl{
	width:45%;
	height:34px;
	float:left;
}
.hnavCity{
	float:left;
	cursor:pointer;
	position:relative;
}
.hnavTitle{
	display:inline-block;
	margin-top:9px;
}
.hnavList{
	display:none;
	border:1px solid #666;
	padding:4px 15px;

	position: absolute;
	top:30px;
}

					/* .hnavCity  show ul */
.hnavTitle{
	background: url(../images/hnav_sz.png) no-repeat right center;
	padding-right:15px;
}
.welcomeLogin{
	float:left;
	margin-left:20px;
	line-height:34px;
	a{
	padding:0 8px;
		&:hover{
		color:orange;
		}
	}
	span.user{
		color:#f03;
	}
}
.hnav_tr{
	
	height:34px;
	float:right;
	line-height:34px;	
	padding-top:10px;
	ul li{
		padding:0 10px;
		float:left;	

	}
	span{
		padding-left:20px;
	}
	strong{
		color:red;
	}
	img{
		padding-right:5px;
	}
	a:hover{
		color:red;
	}
}
.hnav_bot{
	width:100%;
	height:104px;
	/* background-color:mistyrose; */
	position:relative;
}
.hnav_logo{
	width:215px;
	height:55px;
	float:left;
	margin-top:24px;
}
.hnav_ser{
	width:490px;
	height:72px;
	margin-left:125px;
	position:absolute;
	top:24px;
	left:230px;
}
.hnav_ser_form{
	width:490px;
	height:30px;
	padding:3px;
	border:1px solid #eee;
	background-color:#fff;
	margin-bottom: 10px;
	 -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
	&:focus{
		width:500px;
	}
}
.hnav_ser_text{
	display:inline-block;
	width:440px;
	border:0;
	line-height: 30px;
}
.hnav_ser_sub{
	width:22px;
	height:20px;
	border:0;
	background:url(../images/search.png) no-repeat center;
	cursor:pointer;
	position:absolute;
	right:5px;
	top:10px;
}

.hnav_ul li{
	float:left;
	font-size:12px;
	
	margin-right:10px;
}
.hnav_ul_li_last{
	margin-right:0;
}
.hnav_ul li a{
	color: #666;
}
.hnav_ul li a:hover{
	color:orange;
}
.hnav_cart{
	float:right;
	position:absolute;
	right:90px;
	top:30px;
	a{
		color:#333;
	}
}
#cartItemNumber{
	color:red;
	font-size:16px;
}
/* 					header 					*/


/* 					banner 					*/
#main_nav{
	width:100%;
	height:477px;	
	position:relative;
	background:#555;
}
.main_top{
	width:1190px;
	height:37px;
	margin:0 auto;
}
.main_top_ul{
	padding-left:280px;
}
.main_top_li{
	float:left;
	height:37px;
	line-height:37px;
	padding:0 57px;
	font-weight: bold;
}
.main_top_li a{
	font-size:16px;
	font-weight:bold;
	color:#FFF;
}
.main_top_li:hover{
	background:#066 
}
/* 					good 					*/
.sidebar{
	width:200px;
	height:484px;
	position:absolute;
	left:80px;
	top:-6px;
	z-index: 999999;
	// background:#fff;
}
.sidebar_top{
	background:#db3a3b;
	width:200px;
	height:43px;
	p{
		font-size:16px;
		line-height:43px;
		text-align: center;
		color:#fff;
		font-weight:bold;
	}
}
.sidebar_list{
	height:440px;
	overflow:hidden;
	background:#fff;
	li{
		width:auto;
		height:35.7px;
		line-height:35.7px;
		position:relative;
		padding-left:25px;
		border-bottom: 1px solid #f2f0f0;		
		a{
			color:#000;
			font-size: 14px;
			text-align: center;
			line-height: 35.7px;
			display:inline-block;
			p{
				float:right;
				padding-left:5px;
			}
		}
		&:hover{
    		background-color: #f3484a;
    		a{
    			color:#fff;
    		}
		}
		&.last{
			border:none;
			height:36px;
		}
	}
	.ico{
		width:35px;
		display:inline-block;
		margin-right: 12px;
	}
}
.sideGoodCategoriesDetail {
    border-left:2px solid #f3494b;
    height:440px;
    width:666px;
    z-index:999;
    opacity:0.9;
    position: absolute;
    left:200px;
    top:43px;
    pading-left:0px;
    background-color: #fff;
    display:none;
	.item {
	    width:666px;
	    height:440px;  
	    position: absolute;
	    top:0;
	    left:0;
	    padding:25px 0 0 5px;
	}
	.listWrap {
	    width: 666px;
	    height:440px;
	    line-height: 440px;
	   
	}
	.list {
	    /*display: inline-block;
	    vertical-align: middle;*/
	    line-height: 30px;
	    margin-left: 30px;/*width: 580px;*/
	    li {
		    display: block;
		    margin-bottom: 15px;
		    min-height: 30px;
		}
		.title {
		    background: url("../images/50446.png") no-repeat right center;
		    color: #333;
		    font-size: 14px;
		    margin-right: 10px;
		    padding-right: 10px;
		    position: relative;
		    a {
			    color:#444;
			    font-size: 14px;
			}
		}
		.itemGroup a{
			border-right: 1px solid #333;
			color: #366;
			cursor: pointer;
			font-size: 12px;
			margin-left: -1px;
			margin-right: 10px;
			padding-right: 10px;
			white-space: nowrap;
			&:hover{
				color:orange;
			}
		}
	}
	.item.most .list li {
	    margin-bottom: 5px;
	}
}
/****************************************************
						footer

*****************************************************/
.footer{
	width:1190px;
	height:500px;
	margin:20px auto 0;
}
.footer-biaoyu {
    margin: 80px 0 30px 0;
    li {
		float:left;
	    width: 238px;
	    height: 51px;
	    padding: 5px 0 0 0;
	    background: url("http://image2.ewj.com/2015/5/25/3020000.png") no-repeat right center;
	     span {
			float:right;
		    color: #333;
		    font-size: 14px;
		    line-height: 19px;
		    padding-right: 23px;
		}
		&.last {
		    background: none;
		} 
		img {
		    margin: 0 18px 0 30px;
		}
	}
}
.foot_saoma {
    padding:45px 0 35px;
    border-top:#dcdcdc 1px solid;
    border-bottom:#dcdcdc 1px solid;
    dl {
	    float:left;
	    padding:0 0 0 120px;
	    width:470px;
	    dt {
		    float:left;
		    width:110px;
		    height:110px;
		    border:#fff 3px solid;
		    background:#fff;
		    overflow:hidden;
		}
		dd {
		    float:left;
		    margin:0 0 0 20px;
		    width:280px;
		    span{
			    display:block;
			}
			.tit1 {
			    font-size:14px;
			    font-weight:bold;
			    margin:10px 0;
			}
			.tit2 {
			    font-size:14px;
			    margin:0 0 15px;
			}
			.tit3 a {
			    float:left;
			    display:inline-block;
			    width:80px;
			    height:28px;
			    line-height:28px;
			    margin:0 10px 0 0;
			    border:#bababa 1px solid;
			    font-size:10px;
			    i {
				    display:inline-block;
				    background: url("../images/3020018.png") no-repeat 0 0;
				    width:13px;
				    height:22px;
				    margin:0 5px -6px;
				}
				&.iphone i {
				    background-position:0 0;
				}
				&.Android i {
				    background-position:0 -35px;
				    width:20px;
				}
			}
		}
	}
}
.web_map {
    display: inline-block;
    border-top: 1px solid #dcdcdc;
    padding:35px 0 25px 50px;
    li {
	    float: left;
	    font-size: 14px;
	    line-height: 24px;
	    text-align: left;
	    width: 202px;
	    &.last {
		    width:120px;
		}
		&.title {
		    font-size: 16px;
		    font-weight: bold;
		    color: #333;
		    display: block;
		    margin-bottom: 15px;
		}
		a {
		    color: #848484;
		    display: block;
		    cursor: pointer;
		    &:hover {
			    color: #f3484a;
			}
		}
	}
}
.web_map_My {
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    padding: 15px 0 50px;
    a {
	    color: #333;
	    cursor: pointer;
	    &:hover {
		    text-decoration: underline;
		    color: #f3484a;
		}
	}
	span.copyright {
	    color:#848484;
	    font-size:16px;
	    margin:0 0 0 60px;
	}
	.split{
	    margin: 0 14px;
	}
}
/* ---------------------------------------------------------------------------
 *      		index end         login signin start
   --------------------------------------------------------------------------- */
.header {
    background: url(../images/50394.png) repeat-x;
    height: 124px;
    box-shadow: 0 0 10px rgba(9, 2, 4, .12);
    position: relative;
    z-index: 100;
}
.header .center {
    position: relative;
    height: 180px;
    z-index: 1000;
}
.headerBody {
    display: inline-block;
    left: 0;
    padding-top: 3px;
    width: 100%;
    height: 99px;
    position: relative;
}
.headerLogo {
    width: 341px;
    height: 71px;
    background: url(../images/3020015.png) no-repeat 0 0;
    float: left;
}
.headerBiaoyu {
    float: right;
    margin: 17px 100px 0 0;
}
/* btn */
.btn {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    padding: 0 11px;
    color: #333;
    font-size: 12px;
    background: url(loadImage.jsx?rurl=http://image2.ewj.com/2015/2/2/50370.png) repeat-x;
    border: 1px solid #d1d1d1;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
    cursor: pointer;
}
.btn:hover {
    color: #e04040;
    border-color: #e04040;
}
.btnLg {
    width: 198px;
    height: 52px;
    line-height: 52px;
    padding: 0;
    font-size: 16px;
    text-align: center;
}
.btnPrimary {
    height: 22px;
    line-height: 22px;
    padding: 0 12px;
    color: #fff;
    background: #e14041;
    border-right: none;
    border-left: none;
    border-top: 1px solid #f0a0a0;
    border-bottom: 1px solid #c21f1f;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
}
.btnPrimary:hover {
    color: #fff;
    background: #ff5758;
    border-top: 1px solid #f0a0a0;
    border-bottom: 1px solid #c21f1f;
}
/* form */
.formGroup {
    margin-bottom: 10px;
}
.formError {
    display: none;
    color: #e14041;
    margin-left: 10px;
    font-size: 12px;
}
.textInput {
    display: inline-block;
    min-height: 20px;
    line-height: 20px;
    padding: 15px 15px;
    font-size: 14px;
    color: #aaa;
    background: #fff;
    border: 1px solid #dadada;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
}
.textInput:focus {
    color: #666;
    border-color: #e04040;
}
.has-error {
}
.has-error input {
    border-color: #e14041!important;
}
.has-error small {
    margin-left: 10px;
    color: #e14041;
    font-size: 12px;
}
/* panel  */
.panelHd {
    height: 45px;
    line-height: 45px;
    padding: 0 25px;
    background: #fff;
    *zoom: 1;
}
.panelHd:before,
.panelHd:after {
    display: table;
    line-height: 0;
    content: "";
}
.panelHd:after {
    clear: both;
}
.panelBd {
    padding: 20px 25px;
    background: #fff url(../images/50432.png) repeat-x;
}